<a href="https://colab.research.google.com/github/mint-rin/SeSAC/blob/main/WordRepresentation_1_BoW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BoW 직접 구현

In [ ]:
docs = ['오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어',
        '오늘 동물원에서 원숭이에게 사과를 줬어']

In [ ]:
doc_ls = []
for doc in docs:
  doc_ls.append(doc.split(' '))
doc_ls

[['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '코끼리', '원숭이에게', '먹이를', '줬어'],
 ['오늘', '동물원에서', '원숭이에게', '사과를', '줬어']]

## 유니크한 토큰 사전 구하기

In [ ]:
from collections import defaultdict

word2id = defaultdict(lambda: len(word2id))

for doc in doc_ls:
    for token in doc:
        word2id[token]

word2id

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '코끼리': 2,
             '원숭이를': 3,
             '보고': 4,
             '원숭이에게': 5,
             '먹이를': 6,
             '줬어': 7,
             '사과를': 8})

## BoW 구하기

In [ ]:
import numpy as np
BoW_ls = []
for i, doc in enumerate(doc_ls):
  bow = np.zeros(len(word2id), dtype=int)
  for token in doc:
    bow[word2id[token]] += 1
  BoW_ls.append(bow.tolist())

array([1, 1, 0, 0, 0, 1, 0, 1, 1])

In [ ]:
BoW_ls

[[1, 1, 2, 1, 1, 1, 1, 1, 0], [1, 1, 0, 0, 0, 1, 0, 1, 1]]

## 시각화

In [30]:
from IPython.core import display as ICD
import pandas as pd
sorted_vocab = sorted((value, key) for key, value in word2id.items())
print('sorted_vocab', sorted_vocab)

vocab = []

for v in sorted_vocab:
  vocab.append(v[1])
print('vocab', vocab)

for i in range(len(docs)):
  print("문서{} : {}".format(i, docs[i]))
  ICD.display(pd.DataFrame([BoW_ls[i]], columns = vocab))
  print("\n\n")

sorted_vocab [(0, '오늘'), (1, '동물원에서'), (2, '코끼리'), (3, '원숭이를'), (4, '보고'), (5, '원숭이에게'), (6, '먹이를'), (7, '줬어'), (8, '사과를')]
vocab ['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '원숭이에게', '먹이를', '줬어', '사과를']
문서0 : 오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    2     1   1      1    1   1    0

문서1 : 오늘 동물원에서 원숭이에게 사과를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    0     0   0      1    0   1    1

# sklearn
- 실제로는 직접 구현할 필요 없고, sklean 라이브러리 쓰면 됨

In [31]:
docs = ['오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어',
        '오늘 동물원에서 원숭이에게 사과를 줬어']

In [32]:
# CountVectorizer: 토큰 빈도 계산
from sklearn.feature_extraction.text import CountVectorizer

# 선언
count_vect = CountVectorizer()

BoW = count_vect.fit_transform(docs)
BoW.toarray()

array([[1, 1, 1, 0, 1, 1, 1, 1, 2],
       [1, 0, 0, 1, 1, 0, 1, 1, 0]])