<a href="https://colab.research.google.com/github/mint-rin/SeSAC/blob/main/Numpy_2_linspace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1에서 20 사이의 균일한 간격으로 30개의 숫자를 만들고 모든 값에 숫자 10을 더해주세요.

In [2]:
import numpy as np

In [3]:
# linspace: 균일한 간격으로 리스트 크기만큼의 리스트를 생성하는 함수
# np.linspace(시작값, 끝값, 벡터 크기, endpoint = False)
x = np.linspace(1, 20, 30)

In [4]:
x + 10

array([11.        , 11.65517241, 12.31034483, 12.96551724, 13.62068966,
       14.27586207, 14.93103448, 15.5862069 , 16.24137931, 16.89655172,
       17.55172414, 18.20689655, 18.86206897, 19.51724138, 20.17241379,
       20.82758621, 21.48275862, 22.13793103, 22.79310345, 23.44827586,
       24.10344828, 24.75862069, 25.4137931 , 26.06896552, 26.72413793,
       27.37931034, 28.03448276, 28.68965517, 29.34482759, 30.        ])